SiteConfigurationGraphModel _LpOnoOR0Eeuxr4bVxlm8mQ {
  modelName "Site"
  Url _PGjDEOR0Eeuxr4bVxlm8mQ at 250,110 size 150,32 {
  	content "http://localhost:8080"
  }
  
  Username _SUCSwOR0Eeuxr4bVxlm8mQ at 257,150 size 135,32 {
  	content "peter"
  }
  
  Password _U3JvwOR0Eeuxr4bVxlm8mQ at 257,190 size 135,32 {
  	content "pwd"
  }
  
  Domain _XOk6IOR0Eeuxr4bVxlm8mQ at 135,60 size 380,32 {
  	content "info.scce.cinco.product.userdocumentation"
  }
  
  Page _mreF8OR0Eeuxr4bVxlm8mQ at 220,230 size 201,61 {
  	name "HomePage"
  	url "http://localhost:8080/home"
  }
}
